@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Familites */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600;700&display=swap');

@import './forms/affiliate/signup-steps/signup-steps.css';
@import './forms/affiliate/signup-steps/BottomButtons.css';
@import './forms/affiliate/signup-steps/StepsButtons.css';

body {
  margin: 0;
  @apply font-body text-xs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* temp styles to be imported to each component */
.btn {
  @apply drop-shadow-lg rounded-md bg-gradient-to-b from-blue-start to-blue-end py-2 px-10 text-white font-semibold uppercase;
}

.btn.narrow {
  @apply mx-auto w-full;
  max-width: 140px;
}

.btn.grey {
  background: rgb(119,119,119);
  background: linear-gradient(177deg, rgba(119,119,119,1) 0%, rgba(85,85,85,1) 87%);
}
.anchor {
  @apply font-bold underline text-blue-brand;
}



.social-logins {
  @apply flex flex-col gap-3;
}

.social-logins .btn {
  @apply flex flex-row w-full px-3 gap-3 items-center;
  background-image: none;
  border-radius: 18px;
}

.social-logins .btn svg {
  @apply ml-0 w-5 h-5;
}
.social-logins .btn span {
  @apply normal-case font-bold flex-1 text-center;
}
.social-logins .btn.fb {
  background-color: #376AED;
}